.banner {
    height: 720px;
    /* background-image: url('../../images/kid-engineer.jpg'); */
    background-position: center;
    background-size: cover;
    
    display: flex;
    align-items: center;

    position: relative;
}

.banner-text {
    text-align: left;
    color: #fff;
    max-width: 700px;

    /* xxx */
    position: absolute;
    left: 10%;
}

.banner-text h1 {
    font-size: 4.5rem;
    /* margin-bottom: 20px; */
}

.banner-text p {
    font-size: 1.5rem;
    font-weight: 272;
    margin-bottom: 30px;
}

.banner-image {
    width: 45%;
    transform: rotateZ(90deg);
    position: absolute;
    right: -56px;
    z-index: 10;
}

.banner_overlay {
    position: absolute;
    width: 100%;
    height: 720px;
    /* background: linear-gradient(45deg, hsl(39.89deg 100% 36.27% / 91%) 38%, hsl(212.24deg 95.2% 48.59% / 60%)); */
    background: var(--brown-gradient);
}

/* --------- CTA ------------- */
.btn {
    width: var(--cta-width);
    color: #333;
    font-size: 1.2rem;
    border: none;
    border-radius: 24px;
    padding: 8px 24px;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: var(--multiple-shadow);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--choco-gold);
    color: var(--white);
}