.banner {
    --billboard-height: 720px;
    height: var(--billboard-height);
    background: var(--brown-gradient);
    /* display: flex; */
    position: relative;
    overflow: hidden;
    padding-top: 100px;
}

.banner-text {
    text-align: left;
    color: #fff;
    max-width: 700px;

    /* xxx */
    position: absolute;
    left: 10%;
}

.banner-text h1 {
    font-size: 4.5rem;
    /* margin-bottom: 20px; */
}

.banner-text p {
    font-size: 1.5rem;
    font-weight: 272;
    margin-bottom: 30px;
}

.banner-image {
    position: absolute;
    right: -10%;
    top: 0%;
    transform: scale(0.8);
    z-index: 1;
}

/* --------- CTA ------------- */
.btn {
    width: var(--cta-width);
    color: #333;
    font-size: 1.2rem;
    border: none;
    border-radius: 24px;
    padding: 8px 24px;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: var(--multiple-shadow);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--choco-gold);
    color: var(--white);
}