.card {
    max-width: 720px;
    min-width: 360px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--card-shadow);
    transition: all 0.3s ease-out;
}
.card:hover {
    transform: scale(1.01);
}

.card__image {
    height: 250px;
    width: 55%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all 1s ease;
}
.card__image:hover {
    background-position: left;
}

.card__details {
    padding: 0px 12px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    color: var(--secondary-color)
}

.card__icons {
    margin: 4px 0;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 64px;
    background-color: #f2f2f2;

    display: flex;
    align-items: center;
    gap: 16px;
}

.card__icons svg {
    color: var(--dark-grey);
    height: 24px;
    transition: color 0.4s ease;
}

.card__icons svg:hover {
    color: var(--primary-color);
}

.card__description {
    height: 100px;
    margin: 5px 0;
    font-size: 14px;
}

.card__links {
    display: flex;
    justify-content: flex-end;
}

.card__link {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--light-text);
    color: var(--dark-text);
    transition: background-color 0.3s ease;
}

.card__link:hover {
    background-color: var(--primary-color);
    color: #eee;
}
