.card {
    max-width: 720px;
    min-width: 360px;
    margin: auto;
    margin-top: 24px;
    padding: 16px;
    border-radius: 16px;
    background-color: #fefefe;
    box-shadow: var(--card-shadow);
    display: flex;
    gap: 16px;
    transition: all 0.3s ease;
}

.card__image {
    height: 248px;
    width: 56%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.card:hover .card__image {
    transform: scale(1.04);
}
.card:hover {
    box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
}

.card__details {
    padding: 0px 12px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    color: var(--secondary-color);
}

.card__icons {
    margin: 4px 0;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 64px;
    background-color: #f2f2f2;

    display: flex;
    align-items: center;
    gap: 16px;
}

.card__icons svg {
    color: var(--dark-grey);
    height: 24px;
    transition: color 0.4s ease;
}

.card__icons svg:hover {
    color: var(--primary-color);
}

.card__description {
    color: var(--dark-text);
    height: 100px;
    margin: 4px 0;
    font-size: 14px;
}

.card__links {
    display: flex;
    justify-content: flex-end;
}

.card__link {
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--light-text);
    color: var(--dark-text);
    transition: background-color 0.3s ease;
}

.card__link:hover {
    background-color: var(--primary-color);
    color: #eee;
}
