.main-content {
    display: flex;
    justify-content: space-around;
    min-height: 50vh;
    padding: 0 100px;
}

.profile__column, .content__column {
    margin: 20px;
    border-radius: 10px;
}

.profile__column {
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 13%;
    padding: 24px 13px;
}

.content__column {
    text-align: left;
    width: 800px;
}

.category {
    padding: 24px 52px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.category, .profile__column {
    min-height: 300px;
    border: 1px solid #eee;
    background-color: #fff;
    overflow: auto;
}

body {
    background-color: #f8f8f8;
}

.category__heading {
    margin: 0;
    text-align: left;
    position: relative;
}

.category__heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    width: 50%;
    border-bottom: 5px solid var(--primary-color);
    transition: all 0.3s ease;
}

.back-to-top {
    position: fixed;
    bottom: 5%;
    right: 1.5%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fdeec9;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    opacity: 10%;
    transition: all 0.5s ease;
}
.back-to-top:hover {
    opacity: 100%;
}

.profile__content {
    display: flex
}

.profile__picture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--secondary-color);
}

.profile__contact {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    border-radius: 10px;
}
