
.footer__content {
    margin: 10px;
    color: var(--white);
    border-radius: 32px;
    background-color: var(--dark-100);
}

.footer__info {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer_copyright {
    padding: 30px;
    text-align: center;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__links li {
    margin: 5px 10px;
}

.footer__links li a {
    color: var(--white);
    text-decoration: none;
}

.footer__links li a:hover {
    color: var(--choco-gold);
}

.footer_copyright {
    border-radius: 0 0 32px 32px;
    background-color: var(--dark-50);
}