footer {
    padding: 10px;
}

.footer__content {
    height: 150px;
    padding: 10px 50px;
    color: #fff;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer__links li {
    margin: 0 10px;
}

.footer__links li a {
    color: #f8f8f8;
    text-decoration: none;
}

.footer__links li a:hover {
    color: var(--secondary-color);
}