
.footer__content {
    margin: 10px;
    color: #fff;
    background-color: var(--primary-color);
}

.footer__info {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer_copyright {
    padding: 30px;
    text-align: center;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__links li {
    margin: 5px 10px;
}

.footer__links li a {
    color: #f8f8f8;
    text-decoration: none;
}

.footer__links li a:hover {
    color: var(--secondary-color);
}