header {
    width: 100%;
    padding: 8px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.header {
    height: 64px;
    padding: 8px 64px;
    border-radius: 8px;
    backdrop-filter: blur(16px);
    background-color: #ffffffaa;
    outline: thin solid #bfbfbf;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125);
    
    /* flex hc-vc */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 48px;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav__links {
    padding: 8px 16px;
    border-radius: 12px;
    color: var(--dark-100);
    transition: all 0.2s ease-in-out;
}

.nav__links:hover {
    background-color: var(--light-50);
}
