/* global variables */
:root {
    /* GLOBAL DIMENSIONS */
    --cta-width: 192px;
    --card-width: 320px;
    /* THEME COLORS 1*/
    /* --light-main: #C38154; */
    /* chestnut */
    /* --dark-main: #884A39; */
    /* chocolate */
    /* --very-dark-main: #7B3F00; */
    /* wheat */
    /* --light-secondary: #F9E0BB; */
    /* earth yellow */
    /* --accent-main: #FFC26F; */
    /* zomp */
    /* --accent-secondary: #47A992; */

    /* THEME COLORS 2*/
    --light-50: #F9E0BB;
    --light-100: #FFC26F;
    --choco-gold: #FF9C34;
    --choco-tan: #7B3F00;
    --dark-50: #2d1803;
    --dark-100: #231200;


    /* CUSTOM COLORS */
    --white: #fefefe;
    --whitish: #f3f3f3;
    --grey: #efefef;
    --dark-grey: #909090;

    /* TEXT COLORS */
    --light-text: #9f9f9f;
    --dark-text: rgb(26, 26, 26);

    /* SHADOWS & GRADIENTS */
    --orange-gradient: radial-gradient( circle farthest-corner at 64% 24%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );    
    --brown-gradient: linear-gradient(45deg, #772f1a 0%, #f2a65a 75%);
    

    --card-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
    --multiple-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                        0 12.5px 10px rgba(0, 0, 0, 0.06),
                        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                        0 100px 80px rgba(0, 0, 0, 0.112);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'karla', 'montserrat', 'poppins', sans-serif;
    background-color: var(--white);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--dark-text)
}

/* body {
    background: #c8c4c3;
} */