/* global variables */
:root {
    /* THEME COLORS*/
    --primary-color: rgb(26, 26, 26); /* #2c3e50; */
    --light-main: #909090; /* #6fb99b; */
    --secondary-color: #d1d1d1; /*#d6941a; */
    --light-secondary: #bebebe; /* #11296e; */

    /* CUSTOM COLORS */
    --yellow: #e3d081;
    --dark-yellow: #dcc04a;
    --wine: #b33951;
    --grey: #bebebe;
    --dark-grey: #909090;
    --dark-text: rgb(26, 26, 26);
    --light-text: #ccc;

    /* SHADOWS & GRADIENTS */
    --raw-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --card-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
    --background-gradient: linear-gradient(90deg, rgba(180, 34, 195, 0.33) 0%, rgba(45, 253, 195, 0.17) 100%);
    --light-gradient: linear-gradient(158deg, rgba(204, 204, 204, 1) 0%, rgba(172, 133, 175, 1) 55%, rgba(80, 80, 80, 1) 100%);
    --orange-gradient: radial-gradient( circle farthest-corner at 64% 24%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    --multiple-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                        0 12.5px 10px rgba(0, 0, 0, 0.06),
                        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                        0 100px 80px rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'montserrat', 'poppins', sans-serif;
    background-color: #eeeeee;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* development styles */
.dev--border {
    border: 3px solid green;
}

.dev--container {
    margin: 5px;
    background-color: #cccccc;
}

/* body {
    background: #c8c4c3;
} */