.contact-slip {
    padding: 8px 0;
    margin: 16px;
    height: 56px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
}

.contact-slip > * {
    margin: 0;
}

.contact-slip .icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 16px;
    border-radius: 6px;
    color: var(--primary-color);
    background-color: rgb(209, 161, 19);
    background: var(--orange-gradient);
    transition: all 0.4s ease;
}

.contact-slip:hover .icon {
    box-shadow: var(--multiple-shadow);
}

.contact-slip small {
    color: #9f9f9f;
}

/* big logo */
.big-logo {
    opacity: 24%;
    transition: all .4s ease-out;
    animation: marquee 3.2s linear infinite;
}

.big-logo:hover {
    opacity: 80%;
}

@keyframes marquee {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }


/* --------- square card and square card 2 ----------- */
.sqCard, .sqCard2 {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background-color: #9f9f9f;
    box-shadow: 0px 10px 16px -8px;
    transition: all .40s ease-in;
    --paragraph-position: 0px;
}

.sqCard h2, .sqCard2 h2 {
    position: absolute;
    /* margin: 16px; */
    bottom: 32px;
    font-size: 32px;

    width: 100%;
    padding: 4px 16px;
    background-color: var(--light-main);
    color: var(--primary-color);
    transition: all .40s ease-in-out;
}

.sticker {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #eeeeee;
    top: 50px;
    right: 10px;
    border-radius: 16px;
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--multiple-shadow);
    transition: all 0.40s ease;
    opacity: 0;
}
.sticker:hover {
    border-radius: 64px;
}

.sqCard2:hover .sticker {
    opacity: 1;
}

.sqCard .card_text, .sqCard2 .card_text {
    position: absolute;
    bottom: -100px;
    margin: 0;
    padding: 16px;
    font-size: 14px;
    font-weight: 200;
    color: #efefefdd;
    background-color: var(--primary-color);
    transition: all 0.40s ease-in;
}
.sqCard:hover .card_text {
    bottom: var(--paragraph-position);
}
.sqCard:hover h2 {
    bottom: calc(var(--paragraph-position) + 56px);
}
.sqCard:hover {
    background-size: contain;
    background-position-x: top;
}

/* ----------- square card version 2 ---------- */
.sqCard2 {
    box-shadow: 0px 4px 4px -2px #9f9f9f;
    --text-position: 50%;
}

.sqCard2 h2 {
    width: 100%;
    padding: 4px 16px;
    background-color: var(--light-main);
    margin: 0;
    bottom: var(--text-position);
}

.sqCard2 .card_text {
    top: var(--text-position);
    height: var(--text-position);
}

/* ------------ email forms --------------- */
.email-form {
    width: 25%;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
      width: 100%;
      padding: 8px;
      border-radius: 8px;
      margin-bottom: 16px;
      border: 2px solid var(--light-main);
      outline-color: var(--light-main);
      font-family: 'montserrat', 'open sans';
      transition: outline-color 400ms ease;
    }
    
input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
textarea:focus-visible {
    outline: 2px solid var(--secondary-color);
    outline-offset: -2px;
}
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* ---------- IMAGE SLIDER ----------- */
.sliding-image-feature {
    position: relative;
    width: 64%;
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 8px 16px;
    background-color: #9f9f9f;
    border-radius: 24px;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d7d7d7;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .dot.inactive:hover {
      box-shadow: 0 8px 8px -1px #333;
  }
  
  .dot.active {
    background-color: #555;
  }
  
/* ---------- BACK TO TOP ------------- */
.back-to-top-button {
    position: fixed;
    bottom: 80px;
    right: 40px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: var(--multiple-shadow);
    transition: opacity 0.4s ease;
  }
  
  .back-to-top-button:hover {
    opacity: 0.8;
  }
  