.contact-slip {
    padding: 8px 0;
    margin: 16px;
    height: 56px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
}

.contact-slip > * {
    margin: 0;
}

.contact-slip .icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 16px;
    border-radius: 6px;
    box-shadow: var(--multiple-shadow);
    color: var(--primary-color);
    background-color: rgb(209, 161, 19);
}

.contact-slip small {
    color: #9f9f9f;
}