.contact-slip {
    padding: 8px 16px;
    margin-bottom: 8px;
    height: 56px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
}

.contact-slip > * {
    margin: 0;
}

.contact-slip .icon {
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 16px;
    border-radius: 6px;
    color: var(--dark-text);
    background-color: var(--choco-gold);
    background: var(--orange-gradient);
    transition: all 0.2s ease;
}

.contact-slip:hover .icon {
    box-shadow: var(--multiple-shadow);
    cursor: pointer;
}
.contact-slip:hover a {
    color: var(--choco-gold);
}
.contact-slip:hover {
  background-color: var(--grey);
  border-radius: 8px;
}

.contact-slip small {
    color: var(--light-text);
}

/*---------- big logo ---------- */
.big-logo {
  opacity: 24%;
  transition: all .4s ease-out;
  animation: marquee 4s linear infinite;
}

.big-logo:hover {
    opacity: 80%;
}

@keyframes marquee {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }


/* --------- square card and square card 2 ----------- */
.sqCard, .sqCard2 {
  position: relative;
  overflow: hidden;
  border-radius: 16px;

  background-size: cover;
  width: 300px;
  height: 300px;

  background-color: var(--light-text);
  box-shadow: 0px 10px 16px -8px var(--dark-text);
  transition: all .40s ease-in;
  
  --heading-default-position: 32px;
  --sqcard-text-height: 120px;
  --text-hover-position: 0px;
  --text-default-position: -120px;
}

.sqCard h2, .sqCard2 h2 {
  position: absolute;
  bottom: var(--heading-default-position);
  
  font-size: 32px;
  color: var(--choco-gold);
  background-color:#7f7f7f59;
  
  width: 100%;
  padding: 4px 16px;
  backdrop-filter: blur(16px);
  transition: all .40s ease-in-out;
}

.sqCard .card_text, .sqCard2 .card_text {
    position: absolute;
    bottom: var(--text-default-position);
    height: var(--sqcard-text-height);
    margin: 0;
    padding: 16px;
    font-size: 14px;
    font-weight: 200;
    color: var(--white);
    background-color: var(--dark-100);
    transition: all 0.3s ease-in;
}
.sqCard:hover .card_text {
    bottom: var(--text-hover-position);
}
.sqCard:hover h2 {
    bottom: calc(var(--text-hover-position) + var(--sqcard-text-height) - var(--heading-default-position));
}

/* ----------- square card version 2 ---------- */
.sqCard2 {
    background-size: contain;
    background-position: top;
    --text-position: 50%;
}

.sticker {
  position: absolute;
  padding: 16px;
  width: 75px;
  height: 75px;
  top: 50px;
  right: 10px;
  text-align: center;
  border-radius: 16px;
  background-color: var(--light-50);
  box-shadow: var(--multiple-shadow);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 0.40s ease;
  opacity: 0;
}
.sticker:hover {
  border-radius: 64px;
  background-color: var(--light-100);
}

.sqCard2:hover .sticker {
  opacity: 1;
}

.sqCard2 h2 {
    width: 100%;
    padding: 4px 16px;
    margin: 0;
    bottom: var(--text-position) !important;
}

.sqCard2 .card_text {
    top: var(--text-position);
    height: var(--text-position);
}

/* ------------ email forms --------------- */
.email-form {
    min-width: 300px;
    width: 30%;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: var(--dark-50);
  }

.email-form h2 {
  color: var(--light-100);
}

label {
  display: block;
  margin-bottom: 4px;
}
  
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--light-100);
  outline-color: var(--choco-gold);
  font-family: 'montserrat', 'open sans';
  transition: outline-color 400ms ease;
}
    
input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
textarea:focus-visible {
  outline: 1px solid var(--choco-gold);
  outline-offset: -2px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--light-100);
  color: var(--dark-text);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s ease;
}
  
  button:hover {
    color: var(--white);
    background-color: var(--choco-gold);
  }

/* ---------- IMAGE SLIDER ----------- */
.sliding-image{
  position: relative;
  width: 83%;
  height: 400px;
  margin: auto;
  border-radius: 32px;
  overflow: hidden;
}
  
.image-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 8px 16px;
  background-color: var(--light-text);
  border-radius: 24px;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 12px;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--grey);
  cursor: pointer;
  transition: all 0.2s ease;
}
.dot.inactive:hover {
    box-shadow: 0 8px 8px -1px #333;
    background-color: var(--choco-gold);
}

.dot.active {
  background-color: var(--choco-tan);
}

/* ---------- BACK TO TOP ------------- */
.back-to-top-button {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 80px;
  right: 40px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: var(--dark-text);
  border: none;
  border-radius: 100%;
  background-color: var(--light-100);
  box-shadow: var(--multiple-shadow);
  transition: all 0.2s ease;
}

.back-to-top-button:hover {
  color: var(--white);
}
